.img_container div {
    position: unset !important;
  }

  .img {
    width: 45% !important;
    position: relative !important;
    height: unset !important;
  }

  .download{
    width: 25px !important;
    position: relative !important;
    height: unset !important;
  }

  @media (max-width: 650px) {
    .img {
      width: 70% !important;
    }
    .download{
      width: 20px !important;
    }
  }
  @media (max-width: 415px) {
    .img {
      width: 85% !important;
    }
  }